:root {
    --cor-de-fundo: #000000;
    }
    body {
        background-color: var(--cor-de-fundo);
      
    }
    .img1{
        Width: 20%;
        display: flex;

        font color:white
    }
        
