@import url("style.css/header.css");
:root {
    --cor-de-fundo: #b9e3ff;
    }
    body {
        background-color: var(--cor-de-fundo);
      
    }
    .img1{
        Width: 40%;
        display: flex;
.cabecalho___menu-hamburguer{
    width: 24px;
    height: 24px;
}   background-image: url(". . /img/Menu.svg");
    display: inline-block;
}
       
    }
        
