meta charset=”UTF-8”>
                    <meta name=”viewport” content=”width=device-width, initial-scale=1.0”>
                    :root {
                        --cor-de-fundo: #EBECEE;
                        }
                        
                        body {
                        background-color: var(--cor-de-fundo);
                        background-color: black;
                        